.gatito {
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20%;
  margin-bottom: 40px;
  margin-left: 450px;
}

.nome {
  text-align: center;
  align-items: center;
  margin-top: 25px;
  background-color: #123458;
}

.gato-que-escreveu {
  margin-left: 480px;
}

body {
  background-color: #d4c9be;
}

.sobre-mim {
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  margin-left: 200px;
  margin-right: 280px;
  background-color: #123458;
}

a {
  color: #030303;
}

.objetivos-profissionais {
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  margin-left: 200px;
  margin-right: 280px;
  margin-top: 25px;
  text-align: center;
  align-items: center;
  background-color: #123458;
}

.projeto-e-link {
  margin-top: 25px;
  text-align: center;
  align-items: center;
  background-color: #123458;
}

.imagem-icones {
  width: 45px;
}

.formação-e-curso-complementar {
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  margin-left: 200px;
  margin-right: 280px;
  margin-top: 25px;
  text-align: center;
  align-items: center;
  background-color: #123458;
}

.tabela .tabela td .tabela th {
  
}
